body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #cbf3f0;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 5px;
  gap: 5px;
}
